h2 {
  color: #b89840;
  font-size: 18px;
  line-height: 0.8;
  letter-spacing: 8px;
}

h1 {
  font-size: 38px;
  line-height: 50px;
  letter-spacing: 2px;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 15px;
  color: #326eab;
}
